#satim  
# fix db when production

### app
APP_NAME=AxeDz
NODE_ENV=production
LOG_LEVEL=info
APP_PORT=3000
API_PREFIX=/v1/api
APP_VERSION=1.0.0

# costs                   
SMS_COST=1.5
EMAIL_COST=0.3

### database          
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=axedz-db
DB_USER=axedzuser
DB_PASSWORD=axedzpass

###redis
REDIS_HOST=
REDIS_PORT=


### jwt
JWT_SECRET=
JWT_LIFETIME=1d

JWT_REFRESH_SECRET=
JWT_REFRESH_LIFETIME=30d

REFRESH_COOKIE_MAX_AGE_MS=2592000000


### otp
OTP_EXP_MINUTES=15
OTP_MAX_ATTEMPTS=3


### security
CORS_ALLOWLIST=
CORS_ALLOW_ALL=true
CORS_CREDENTIALS=false

RATE_LIMIT_MAX=300
AUTH_RATE_LIMIT_MAX=20

BRUTE_FORCE_DELAY_AFTER=5
BRUTE_FORCE_DELAY_MS=500
BRUTE_FORCE_MAX_DELAY_MS=5000
BCRYPT_ROUNDS=10


### mail
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=resend
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl

DEFAULT_FROM=@axedz.com



### google  oauth   
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=

GOOGLE_CALLBACK_URL=https://api.axedz.com/v1/api/google/callback
FRONT_URL_CALLBACK=https://www.axedz.com

### github oauth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GITHUB_CALLBACK_URL=https://api.axedz.com/v1/api/github/callback

### aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-central-003
AWS_BUCKET=
AWS_ENDPOINT=


### rabbitmq
RABBITMQ_URL=

### satim
SATIM_USERNAME=dsfafsdafdasf
SATIM_PASSWORD=dafsfdasfdasf
SATIM_TERMINAL_ID=dsafdsafadsfdas
SATIM_SANDBOX=true

SATIM_RETURN_URL=https://www.axedz.com/payment/success
SATIM_FAIL_URL=https://www.axedz.com/payment/fail

# ADMIN SEEDS 
ADMIN_SEED_EMAIL=
ADMIN_SEED_PASSWORD=
ADMIN_SEED_PHONE=


# FRONT SIDE URL 
FRONT_SIDE_URL=https://www.axedz.com